/target/
/.springBeans
/.project
/.factorypath
/.classpath
/.settings/
.DS_Store
*.iml
/active4j-ui/.idea/
*.ipr
*.iws
/active4j-web/src/main/resources/application-dev.properties
active4j-web/src/main/resources/application-dev.properties
active4j-web/src/main/resources/application-prod.properties
